@font-face {
    font-family: 'Rubik';
    src: url("../fonts/Rubik/static/Rubik-Regular.ttf");
}
@font-face {
    font-family: 'Rubik Bold';
    src: url("../fonts/Rubik/static/Rubik-Bold.ttf");
}
@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: 'OpenSans Bold';
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
    font-family: 'Oswald';
    src: url("../fonts/Oswald/static/Oswald-Regular.ttf");
}
@font-face {
    font-family: 'Oswald Bold';
    src: url("../fonts/Oswald/static/Oswald-Bold.ttf");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    background: #F5F3F5;
    color: #302B27;
}
img {
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
section {
    padding: 30px 0;
}
section > h3, section > h4{
    margin-top: 50px;
}
section > p:last-child {
    margin-bottom: 0;
}
p {
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .h7 {
    font-family: 'Oswald Bold', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}
h1, .h1 {
    font-size: 44px;
    line-height: 62px;
}
h2, .h2 {
    font-size: 34px;
    line-height: 48px;
}
h3, .h3 {
    font-size: 30px;
    line-height: 42px;
}
h4, .h4 {
    font-size: 26px;
    line-height: 36px;
}
h5, .h5 {
    font-size: 22px;
    line-height: 30px;
}
h6, .h6 {
    font-size: 20px;
    line-height: 28px;
}
.h7 {
    font-size: 16px;
    line-height: 22px;
}
.text-large {
    font-size: 20px;
    line-height: 28px;
}
.text-middle {
    font-size: 16px;
    line-height: 22px;
}
.text-small {
    font-size: 14px;
    line-height: 19.6px;
}
.text-smaller {
    font-size: 12px;
    line-height: 17px;
}
.text-semibold {
    font-weight: 600;
}
.text-dark {
    color: #274690;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.brand-text {
    color: #000;
}
.text-blue {
    color: #274690;
}
.text-darkblue {
    color: #1B264F;
}
main ul li, ol li {
    margin-bottom: 12px;
    position: relative;
}
main ul + p, main ol + p {
    margin-top: 20px;
}
main a {
    color: #2D4B93;
    font-weight: 600;
}
main table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}
.wp-block-table {
    overflow-x: auto;
}
.wp-block-table table {
    min-width: 750px;
    overflow-x: auto;
    width: calc(100% - 2px);
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
}
.wp-block-columns {
    margin-bottom: 0;
}
.wp-block-table thead {
    background: #fff;
}
.wp-block-table thead {
    min-width: 515px;
}
.wp-block-table table th {
    padding-right: 30px;
    padding-left: 30px;
}
.wp-block-table thead th, .tables-row table th {
    padding: 20px;
    line-height: 28px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Oswald Bold', sans-serif;
    color: #274690;
    border: 1px solid #EBF0FF;
}
.wp-block-table tr td {
    border: 1px solid #EBF0FF;
    background: #fff;
    padding: 15px 40px;
    font-size: 16px;
    line-height: 22px;
    font-family: "OpenSans";
}
.tables-row table tr td {
    border: 0;
}
main ul li {
    padding-left: 16px;
    font-size: 16px;
    line-height: 22px;
}
main ul li a {
    text-decoration: none;
    color: #2D4B93;
}
main ul li::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background: #274690;
    top: 8px;
    left: 0;
}
.collapsed {
    display: none;
}
b, strong {
    font-weight: 700;
    font-family: "OpenSans Bold";
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.w-100 {
    width: 100%;
}
.w-70 {
    width: 70%;
}
.w-50 {
    width: 50%;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: 12px;
}
.mt-0 {
    margin-top: 0;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
/* Responsive design */
.cas-container {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
.cas-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}
.col-1, .col-2, .col-3, .col-2-half,
.col-4, .col-5, .col-6,
.col-7, .col-8, .col-9,
.col-10, .col-11, .col-12,.col-35, .col-85, .col-7-5, .col-4-5 {
    position: relative;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}
/* 404 page styles */
.error404 .breadcrumbs {
    display: none;
}
.page-notfound {
    position: relative;
    overflow: hidden;
    padding: 72px 0;
}
.notfound-title {
    text-align: center;
    margin: 0 auto 16px;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.notfound-box {
    position: relative;
    display: inline-block;
    color: #274690;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}
.notfound-box p {
    font-family: "Oswald Bold";
    font-size: 280px;
    line-height: 130%;
    color: #274690;
}
.page-notfound p a {
    font-weight: bold;
    color: #274690;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
.nowrap {
    white-space: nowrap;
}
.btn-cas {
    outline: none;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Oswald Bold';
    padding: 13px 18px;
    cursor: pointer;
    text-align: center;
    background: #1B264F;
    color: #EBF0FF;
    white-space: nowrap;
    transition: all .3s;
}
.btn-cas-outline {
    background: transparent;
    border: 2px solid #EBF0FF;
    color: #FFFFFF;
}
.btn-cas:hover {
    background: #2e385a;
}
.btn-block {
    width: 100%;
    display: block;
    text-align: center;
}
::placeholder {
    color: #00A896;
}
/* header styles */
.navbar-toggler {
    width: 25px;
    margin-left: 20px;
}
header {
    margin-bottom: 30px;
}
header .cas-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header-right, .footer-right, .custom-logo-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.searchfield {
    position: relative;
    margin: 19px 40px 19px auto;
    font-size: 14px;
    line-height: 160%;
}
header .searchfield input, footer .searchfield input {
    padding-left: 50px;
    width: 188px;
    height: 40px;
    outline: none;
    margin-right: 10px;
    border: none;
    background: #EBF0FF;
}
.searchfield button {
    position: absolute;
    left: 13px;
    top: 12px;
    background: transparent;
    border: none;
    outline: none;
}
header nav {
    position: relative;
    padding-top: 0;
}
header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
}
header nav a {
    padding: 8px 0;
    color: #302B27;
    text-decoration: none;
    display: inline-block;
}
header nav a:focus,
header nav a:hover {
    color: #274690;
    text-decoration: none;
}
header nav::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #C2C2C2;
    top: 100%;
    left: 0;
    z-index: 10;
}
.menu-item-has-children {
    position: relative;
}
.menu-item-has-children > span {
    background: url("../images/sort-down.svg") center / cover no-repeat;
    width: 15px;
    height: 15px;
    right: -22px;
    top: 15px;
    position: absolute;
    cursor: pointer;
    transition: all .3s;
}
.menu-item-has-children.opened > span {
    transform: rotate(180deg);
}
.sub-menu {
    padding: 10px;
    display: none;
    position: absolute;
    min-width: 237px;
    width: auto;
    height: auto;
    left: 0;
    top: 41px;
    background: #FFFFFF;
    border-top: 1px solid #274690;
    z-index: 9999;
}
.sub-menu li {
    padding: 0;
    margin: 0;
    position: relative;
}
.sub-menu li a {
    padding: .25rem 0;
    font-size: 16px;
    line-height: 160%;
}
.sub-menu li a,
.sub-menu li a:hover,
.sub-menu li a:visited {
    color: #2B2D42;
}
/* breadcrumbs styles */
.breadcrumbs a {
    color: #274690;
    text-decoration: none;
}
.breadcrumbs img {
    position: relative;
    margin: 0 5px;
}
.breadcrumb_last {
    color: #2B2D42;
}
/* Footer styles */
footer {
    padding: 25px 0;
    background: #F5F3F5;
    margin-top: 20px;
}
.footer-nav a,
.footer-nav a:focus,
.footer-nav a:hover,
.footer-nav a:visited {
    color: #302B27;
    text-decoration: none;
}
.footer-nav {
    font-size: 18px;
    line-height: 25px;
    font-style: normal;
    font-weight: normal;
    margin: 20px 0;
    justify-content: flex-start;
}
.textwidget, .copyright {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}
.footer-nav li,
.footer-bootom-nav li {
    margin-bottom: 20px;
}
#to-top {
    position: fixed;
    display: none;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
