@media screen and (min-width: 992px) {
    .important_info p {
        width: 74%;
    }
    .top-games ul li:last-child {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1100px) {
    .col-7-5 {
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .col-4-5 {
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
    .peaky-box .four-cards .btn-cas {
        margin-left: auto;
    }
    .footer-nav li:not(:last-child) {
        margin-right: 30px;
    }
}
@media screen and (max-width: 991px) {
    .top-games .cas-item {
        display: none;
    }
    .top-games .cas-desc {
        margin: 15px auto!important;
    }
    .content-links ul li::before {
        display: none;
    }
    .expert-box .flex-box,
    .expert-card {
        flex-direction: column;
    }
    .expert-card {
        text-align: center;
    }
    .expert-img {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .linked {
        margin-bottom: 20px;
    }
    footer .flex-box {
        flex-direction: column;
    }
    .pros_cons .h6 {
        padding-left: 0;
        margin-top: 0;
    }
    .pros_cons .h6 span {
        display: none;
    }
    .red-list {
        margin-top: 20px;
    }
    blockquote {
        padding: 40px;
    }
    blockquote::after {
        display: none;
    }
    .triple-image {
        flex-direction: column;
    }
    .brand-page .four-cards img {
        max-width: 120px;
    }
    .brand-cas-img,
    .triple-image img {
        margin-bottom: 20px;
        margin-right: 0!important;
        width: 100%;
    }
    .brand-page .pro-con .h6 {
        margin-top: 20px;
    }
    .brand-page h1 img {
        display: none;
    }
    .searchfield {
        margin: 19px auto;
    }
    .inner-content .expert-box {
        margin-bottom: 40px;
    }
    .cas-body .col-6.cas-spec {
        order: 2;
    }
    .cas-body .col-6:not(.cas-spec) {
        order: 1;
    }

}
@media screen and (max-width: 767px) {
    .top-offer .four-cards-item:first-child {
        flex-direction: column;
    }
    .top-offer .four-cards .item-desc {
        margin: 15px auto;
    }
    .slot-page h1 .f-right {
        float: left;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .slot-page .slot-game-item {
        margin-top: 20px;
    }
    .slot-page .slot-game-item img {
        width: 100%;
    }
    .notfound-box p {
        font-family: "Oswald Bold";
        font-size: 150px;
        line-height: 130%;
    }
    .page-notfound {
        padding: 30px 0;
    }
}
